<div ng-app='main' ng-controller='RoomsCtrl' class='container'>

  <div class='row'>
    <div class='col-md-8'>
      <ul>
        <li ng-repeat='room in rooms'>{{room.title}}
          <%= drop_room_btn %>
        </li>
      </ul>
    </div>

    <div class='col-md-4 management-panel'>
      <%= form_tag '', role: 'form' do %>
        <div class='form-group'>
          <%= label_tag 'title' %>
          <%= text_field_tag 'Title', '', id: 'title', class: 'form-control', placeholder: 'Room title', 'ng-model' => 'room.title' %>
        </div>

        <div class='form-group'>
          <%= label_tag 'description' %>
          <%= text_area_tag 'Description', '', id: 'description', class: 'form-control', rows: 3, placeholder: 'Room description', 'ng-model' => 'room.description' %>
        </div>
        <%= button_tag 'Create Room', class: 'btn btn-default', 'ng-click' => 'create()' %>
      <% end %>
    </div>
  </div>
</div>
